* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* body {
    overflow-x:hidden; 
}*/

/* || FONTES */

@font-face {
    font-family: 'mplus-bold';
    src: url('../assets/fonts/Mplus1p-Bold.woff2') format('woff2'),
        url('../assets/fonts/Mplus1p-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'mplus-medium';
    src: url('../assets/fonts/Mplus1p-Medium.woff2') format('woff2'),
        url('../assets/fonts/Mplus1p-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'rufina';
    src: url('../assets/fonts/Rufina-Bold.woff2') format('woff2'),
        url('../assets/fonts/Rufina-Bold.woff') format('woff');
    font-display: swap;
}

#top10,
#sobre,
#aprender,
#btnEntrarNavBar,
#btnLandingPage,
#btnEntrarLogin,
#btnLevarRegisto,
#btnLevarRegisto1,
.btn-card,
.btn-see-all,
#modalIniciarSessao,
#navbarDropdown1,
#exampleModalToggleLabel2,
.message-for-registration {
    font-family: 'mplus-bold'
}

#imputProcurar,
#imputProcurarMenu,
#ulResources,
#pLandingPage,
.div-margin-left,
.pModalLogin,
.wordToBeHighlighted {
    font-family: 'mplus-medium';
}

.card-title-index,
.div-headings-index {
    font-family: 'rufina' !important
}

#headerLandingPage {
    font-family: 'rufina';
    color: #363F73;
    text-shadow: -0px -0px 0 #363F73, 0px -0px 0 #363F73, -0px 0px 0 #363F73, 0px 0px 0 #363F73;
}

/* || NAVBAR */
.menuHamburguerOption{
    color: black;
    text-decoration: none;
}
.menuHamburguerOption:hover{
    color: black;
}

nav {
    background-color: transparent;
    /* -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
    transition: top 0.2s;
    z-index: 2;
    margin: 0;
    padding: 0;
}

.a-div>a,
.a-div>li {
    text-align: right;
    float: right;
    color: black;
    font-weight: 500;
}

.a-div>li>a {
    color: black
}

.a-div>a:hover,
.a-div>li:hover>a {
    color: #363F73;
}

#imgLogo {
    width: 115px
}

.search-bar {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
    position: relative;
}

input[type="search"] {
    border-radius: 100px;
    width: 100%;
    background-color: #f2f2f2;
    padding-right: 35px;
    /* Remover outline, glow e sombra do input que o Bootstrap adiciona automaticamente */
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0;
    outline: 0 none;
}

input[type="search"]:focus {
    background-color: #f2f2f2;
}

/* Remover outline, glow e sombra dos componentes, que o Bootstrap adiciona automaticamente, quando são focados */
input[type="search"]:focus,
.btn:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="date"]:focus {
    box-shadow: none;
    box-shadow: 0;
    outline: 0 none;

}

.search-button-div {
    position: absolute;
    right: 4px;
    top: 0px;
    bottom: 4px;
    z-index: 9;
    transition: transform 0.5s cubic-bezier(0, 1.12, 1, 1.02);
}

#x {
    vertical-align: -0.125em;
    position: absolute;
    right: 20px;
    top: 0;
    transform: translate(0, 11px);
    cursor: pointer;
    z-index: 10;
}

.fa-magnifying-glass {
    transition: all .1s linear;
}

#navbarSupportedContent>.row {
    width: 100%;
}

#btnEntrarNavBar {
    background-color: #45BF63;
    border-radius: 100px;
    color: #fff;
    font-weight: bold;

}

#sobre:hover,
#top10:hover,
#navbarDropdown:hover,
.fa-magnifying-glass:hover {
    color: #4b86ca;
}

#btnEntrarNavBar:hover {
    color: #fff;
    background-color: #7bbe8c;
}

.menu-hamburguer div {
    height: 4px;
    width: 4px;
    background-color: black;
}

.menu-hamburguer {
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2px;
}

.menu-hamburguer:hover .verde,
.menu-hamburguer:hover .verde-1,
.menu-hamburguer:hover .verde-2 {
    background-color: green;
}

.menu-hamburguer:hover .amarelo {
    background-color: yellow;
}

.menu-hamburguer:hover .vermelho,
.menu-hamburguer:hover .vermelho-1,
.menu-hamburguer:hover .vermelho-2 {
    background-color: red;
}

.first-div {
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}

.last-div {
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}

.sair-1 {
    animation: goUp 0.3s;
}

@keyframes goUp {
    100% {
        transform: translateY(-6px);
    }
}

.sair-2 {
    animation: goDown 0.3s;
    opacity: 0;
}

@keyframes goDown {
    0% {
        opacity: 1;
    }

    100% {
        transform: translateY(6px);
        opacity: 0;
    }
}

.menu-hamburguer-after {
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2px;
}

.menu-hamburguer-after div {
    height: 4px;
    width: 12px;
}

#divHamburguer {
    position: relative;
}

.first-bar-1,
.second-bar-1 {
    z-index: 500;
    background: linear-gradient(to right, green, green 70%, yellow 70%, yellow 95%, red 95%)
}

.first-bar-2,
.second-bar-2 {
    z-index: 500;
    background: red
}

.first-bar-1 {
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    animation: rotate-1 0.5s;
    transform: rotate(25deg);
    transform-origin: left center;

}

@keyframes rotate-1 {
    0% {
        transform: rotate(0deg);
        transform-origin: left center;
    }

    100% {
        transform: rotate(25deg);
        transform-origin: left center;
    }
}

.first-bar-2 {
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    animation: rotate-2 0.5s;
    transform: rotate(-25deg);
    transform-origin: right center;
}

@keyframes rotate-2 {
    0% {
        transform: rotate(0deg);
        transform-origin: right center;
    }

    100% {
        transform: rotate(-25deg);
        transform-origin: right center;
    }
}

.second-bar-1 {
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    animation: rotate-3 0.5s;
    transform: rotate(-25deg);
    transform-origin: left center;
}

@keyframes rotate-3 {
    0% {
        transform: rotate(0deg);
        transform-origin: left center;
    }

    100% {
        transform: rotate(-25deg);
        transform-origin: left center;
    }
}

.second-bar-2 {
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    animation: rotate-4 0.5s;
    transform: rotate(25deg);
    transform-origin: right center;
}

@keyframes rotate-4 {
    0% {
        transform: rotate(0deg);
        transform-origin: right center;
    }

    100% {
        transform: rotate(25deg);
        transform-origin: right center;
    }
}

.menuShow {
    animation: showMenu 0.5s;
}

@keyframes showMenu {
    0% {
        transform: translate(0, -60px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.menuHide {
    animation: hideMenu 0.5s;
}

@keyframes hideMenu {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        transform: translate(0, -60px);
        opacity: 0;
    }
}

.mid-bar {
    z-index: 3;
    background: linear-gradient(to right, white, white 33.33%, yellow 33.33%, yellow 50%, white 50%)
}

#navbarToggleExternal {
    position: absolute;
    top: 63px;
    right: 0;
    background-color: white;
    transition: top 1s;
    transition: opacity 1s;
}

#containerMenuDropdown {
    z-index: 2;
    transition: top 0.2s;

}

#ulResources {
    z-index: 10;
}

#ulResources .dropdown-item {
    width: 300px;
    white-space: normal;
}

.options-menu {
    cursor: pointer;
}

/* || index.html (landing page) */

.wordToBeHighlighted {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

.wordToBeHighlighted:hover {
    /* text-decoration: underline;
    text-decoration-color: white; 
    color: white; */

    text-shadow: -0px -0px 0 white, 0px -0px 0 white, -0px 0px 0 white, 0px 0px 0 #363F73;
    color: white;
}

.pDeveloper {
    color: #00D1FF;
}

.btn-see-all {
    background: rgba(217, 103, 78, 0.29);
    border-radius: 20.5377px;
    color: #D9674E;
}

.btn-see-all:hover {
    background: rgba(242, 147, 126, 0.29);

    color: #D9674E;
}

.card-most-popular-right,
.card-most-popular-left {
    box-shadow: 3.65756px 2.19454px 18.2878px 3.65756px rgba(0, 0, 0, 0.05);
    border-radius: 9.35053px 3.65756px 3.65756px 0px;
}

.century-title {
    color: #D9674E;
}

.btn-card {
    background-color: #219EBC;
    color: #FFFFFF;
}

.btn-card:hover {
    background-color: #42bfdf;
    color: #FFFFFF;
}

/* .card-3:hover{
    transform: scale(1.05,1.05);
    box-shadow: 10px 10px 38px rgba(0, 0, 0, 0.12);
} */
.cards-index {
    background-color: white;
}

.card-text-index {
    color: #737373;
    font-size: 13px !important;
}

#imgBackground {
    z-index: -1;
    width: 100%;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 0;
}

.img-history {
    height: 1000px;
}

#divImgHistory {
    z-index: -1;
}

#imgHistory {
    margin-top: 60px;
    width: 340px
        /* margin-top: 100px;
    width: 430px */
}

#divTextLandingPage {
    margin-top: 200px;
}

#pLandingPage {
    color: #737373;
}

#btnLandingPage {
    color: white;
    background-color: #3DAAC5;
    border-radius: 90px;
}

#btnLandingPage:hover {
    background-color: #42bfdf;
}

/* || REMOVER O X DO SEARCH INPUT */

/* https://medium.com/@rion.mrk/how-to-remove-x-icon-from-search-input-field-or-input-type-search-db3c808405fb */

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* -------------------------------------------------------------------------------------------- */

/* css de modais de login e register */
.modal-title {
    font-family: 'rufina';
    color: #fff;
}

.modal-body {
    font-family: 'mplus-medium';
}

.modal-header {
    background-color: #3DAAC5;
}

#modalLogin {
    border-radius: 10px;
}

#btnEntrarLogin {
    border: none;
    background-color: #45BF63;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    width: 100px;
}

#btnEntrarLogin:hover {
    color: #fff;
    background-color: #7bbe8c;
}

.btn-close {
    background-color: #F24444;
    color: #fff;
}

#lblTxtPasswordLogin,
#lblTxtUsernameLogin,
#lblChangePwOldPassword,
#lblChangePwNewPassword {
    position: relative;
    width: 100%;
}

#lblTxtPasswordLogin::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("../assets/img/passwordLogin.svg") center / contain no-repeat;
}

#lblTxtUsernameLogin::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("../assets/img/UserLogin.svg") center / contain no-repeat;
}

.eyeDiv {
    position: absolute;
    z-index: 30;
    right: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("../assets/img/eye-close.svg") center / contain no-repeat;
}

#userPasswordLogin {
    height: 3rem;
    width: 100%;
    border: grey solid 0.5px;
    border-radius: 10px;
    padding: 10px 40px;
}

#userNameLogin{
    height: 3rem;
    width: 100%;
    border: grey solid 0.5px;
    border-radius: 10px;
    padding: 10px 10px 10px 40px
}
#userNameLogin:hover,
#userPasswordLogin:hover {
    border: grey solid 0.5px;
    outline: none
}

#userNameLogin:focus,
#userPasswordLogin:focus {
    outline: none;
    box-shadow: none;
}

#txtEmail,
#txtCity,
#txtBirthDate,
#txtNameUserRegister {
    font-family: 'mplus-medium';
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left-style: none;

}

.pModalLogin {
    font-weight: 50;
    font-size: 20px
}

#btnLevarRegisto,
#btnLevarRegisto1 {
    width: 200px;
    border-radius: 10px;
    border: 2px solid #45BF63;
}

#btnLevarRegisto:hover,
#btnLevarRegisto1:hover {
    background-color: #45BF63;
}

/* .bi-eye{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
} */

.input-group-text {
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#btnCreateAccount,
#btnHaveAccount {
    font-size: 'mplus-bold';
    border-radius: 25px;
}

#btnCreateAccount {
    background-color: #363F73;
}

#btnCreateAccount:hover {
    background-color: #515c98;
}

#btnHaveAccount {
    border: 2px solid #3DAAC5;
}

#btnHaveAccount:hover {
    background-color: #3DAAC5;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}


/* #eye{
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} */

/* style da pagina do recurso de video tutorial */

#accordionFlushExample {
    font-family: 'mplus-medium';
}

#tituloVideo {
    font-family: 'mplus-bold';
    font-size: 20px;
}

.modal-body {
    font-family: 'mplus-medium';
}

/* Style da pagina dos seculos */
.card-title {
    font-family: 'mplus-bold';
    font-size: 18px;
}

.card-text {
    font-family: 'mplus-medium';
    font-size: 14px;
}

#epocaSeculo {
    font-family: 'rufina';
    /* margin-top: 100px; */
}

#btnAprenderSeculo {
    font-family: 'mplus-bold';
    background-color: #3DAAC5;
    box-shadow: none;
}

#barSeparator {
    height: 100%;
    background-color: #3DAAC5;
    width: 2px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-55%);
}

#navbarDropdown1Image {
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    transform: translate(0, -15%);
    height: 30px;
    width: 30px;
    background-image: url("../assets/img/avatars/default.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    border-radius: 50%;
}

#divUsernmame {
    margin: 0;
    padding: 0;
    color: black;
    position: absolute;
    height: 100%;
    width: 7.5em;
    left: 0;
    top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 3.2rem;
}

#loggedUser {
    height: 100%;
    margin: 0;
    padding: 0;
}

#navbarDropdown1 {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}

#iconArrow1 {
    margin-left: 8em;
    color: black;
}

#myProfile,
.manageResources,
#manageUsers,
#logout {
    padding-left: 25px;
}

#myProfile::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    width: 20px;
    background: url("../assets/img/myProfileIcon.svg") center / contain no-repeat;
}

.manageResources::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    width: 20px;
    background: url("../assets/img/manageResourcesIcon.svg") center / contain no-repeat;
}

#manageUsers::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    width: 20px;
    background: url("../assets/img/manageUsersIcon.svg") center / contain no-repeat;
}

#logout::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    width: 20px;
    background: url("../assets/img/logoutIcon.svg") center / contain no-repeat;
}

/* || MEU PERFIL */

#barSeparator1 {
    height: 90%;
    position: absolute;
    background-color: #D9674E;
    width: 2px !important;
    top: 0;
    right: 50%;
    transform: translate(9px, 6%)
}



@media only screen and (min-width: 992px) and (max-width:1199px) {
    #divUsernmame {
        padding-left: 3.2rem;

    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    #divUsernmame {
        padding-left: 2rem;
        width: 7em;
    }

    #navbarDropdown1Image {
        transform: translate(-1rem, -15%);
    }

    #iconArrow1 {
        margin-left: 7em;
    }
}


@media only screen and (min-width: 350px) and (max-width: 449px) {

    #divUsernmame {
        padding-left: 1rem;
        width: 6em;
    }

    #navbarDropdown1Image {
        transform: translate(-2rem, -5%);
        height: 25px;
    }

    #iconArrow1 {
        margin-left: 6em;
    }
}

@media only screen and (max-width: 349px) {

    #divUsernmame {
        padding-left: 1rem;
        width: 5em;
    }

    #navbarDropdown1Image {
        transform: translate(-2rem, -5%);
        height: 25px;
    }

    #iconArrow1 {
        margin-left: 5em;
    }
}